#clock{
	height:500px;
	width:500px;
	background-image:url("../img/clock.gif");
	background-size:cover;
	position:relative;
}
#hr{
left:244px;
top:100px;
position:absolute;
height:150px;
width:7px;
background-color:red;
transform-origin:bottom;
}
#min{
left:245px;
top:80px;
position:absolute;
height:170px;
width:5px;
background-color:green;
transform-origin:bottom;
}
#sec{
left:246px;
top:60px;
position:absolute;
height:190px;
width:3px;
background-color:blue;
transform-origin:bottom;
}